$font-roboto: 'Roboto', sans-serif;
$color-dark: rgb(38, 38, 38);
$color-light: rgb(191, 191, 191);
$color-primary: rgb(24, 144, 255);
$color-border: rgb(217, 217, 217);
$color-background: rgb(255, 255, 255);

.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    width: 384px;
    box-sizing: border-box;
    border: 1px solid $color-border;
    border-radius: 6px;
    box-shadow: 0px 0.61px 2.93px 0px rgba(0, 0, 0, 0.02),
      0px 1.46px 7.05px 0px rgba(0, 0, 0, 0.03),
      0px 2.75px 13.27px 0px rgba(0, 0, 0, 0.04),
      0px 4.91px 23.68px 0px rgba(0, 0, 0, 0.04),
      0px 9.19px 44.28px 0px rgba(0, 0, 0, 0.05),
      0px 22px 106px 0px rgba(0, 0, 0, 0.07);
    background: $color-background;
    padding: 48px 32px;
  }

  &__title,
  &__label,
  &__input,
  &__button,
  &__link {
    font-family: $font-roboto;
    color: $color-dark;
  }

  &__title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
  }

  &__label,
  &__input,
  &__button {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
  }

  &__input,
  &__button {
    border: 1px solid $color-border;
    border-radius: 4px;
    background: $color-background;
    padding: 8px 12px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-primary;
    color: #ffffff;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &__link {
    font-size: 12px;
    line-height: 20px;
    color: $color-light;
    text-align: center;
    margin-top: -13px;

    a {
      text-decoration: none;
      color: $color-primary;
    }
  }
}
