.articleForm {
  margin-block: 34px;
  background-color: #fff;
  padding: 48px 32px;
  box-sizing: border-box;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 6px;
  box-shadow: 0px 0.61px 2.93px 0px rgba(0, 0, 0, 0.02),
    0px 1.46px 7.05px 0px rgba(0, 0, 0, 0.03),
    0px 2.75px 13.27px 0px rgba(0, 0, 0, 0.04),
    0px 4.91px 23.68px 0px rgba(0, 0, 0, 0.04),
    0px 9.19px 44.28px 0px rgba(0, 0, 0, 0.05),
    0px 22px 106px 0px rgba(0, 0, 0, 0.07);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  justify-content: center;
  align-items: center;

  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: rgb(38, 38, 38);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
  }

  input {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    background: #ffffff;
    font-size: 16px;
    line-height: 24px;
    max-height: 40px;
  }

  textarea {
    font-family: 'Inter', sans-serif;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    background: #ffffff;
    min-height: 168px;
    font-size: 16px;
    line-height: 24px;
    max-height: 40px;
    resize: none;
  }

  &__tags {
    align-self: start;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__deleteButton {
    font-family: Roboto;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(245, 34, 45);
    border-radius: 4px;
    padding: 4px 16px;
    height: 42px;
    color: rgb(245, 34, 45);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgb(245, 34, 45);
      color: #fff;
    }
  }

  button {
    cursor: pointer;
    min-width: 118px;
  }

  &__addButton {
    font-family: Roboto;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(24, 144, 255);

    border-radius: 4px;
    padding: 4px 16px;
    height: 42px;
    color: rgb(24, 144, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgb(24, 144, 255);
      color: #fff;
    }
  }

  &__sendButton {
    font-family: Roboto;
    align-self: start;
    border: 1px solid rgb(24, 144, 255);
    border-radius: 4px;
    border-radius: 4px;
    background: rgb(24, 144, 255);
    padding: 4px 16px;
    height: 42px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    transition: all 0.3s ease;
    max-width: 320px;
    width: 100%;

    &:hover {
      background-color: #fff;
      color: black;
    }
  }
}
